footer.text-center.text-lg-start.bg-light.text-muted
    .text-center.p-4(style='background-color: rgba(0, 0, 0, 0.05);')
        p.font-italic.text-muted.mb-0 &copy; Copyrights Bus4You Todos os direitos reservados.
        br
        a(href="/contacto")
            i.fas.fa-envelope.fa-3x