footer.text-center.text-lg-start.bg-light.text-muted
    .text-center.p-4(style='background-color: rgba(0, 0, 0, 0.05);')
        b &copy; 2021 Copyright Bus4You&reg;
        //a.text-reset.fw-bold(href='https://mdbootstrap.com/') MDBootstrap.com
        br
        i.fas.fa-envelope.fa-3x