doctype html
html(lang="en")
    include includes/head
    body
        include includes/header
        h3.text-center Autocarro número #{id}
        div#mapa(style="height: 680px;")
        include includes/footer
    script.
        $(document).ready(function () {
            const id = #{id}
            L.mapquest.key = '#{token}';
            var mapa = L.mapquest.map('mapa', {
                center: [38.7052, -9.1586],
                layers: L.mapquest.tileLayer('map'),
                zoom: 16
            });

            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }

            const coordenadas = [
                [38.7052, -9.1586],
                [38.70548460194602, -9.157877800360074],
                [38.706120906649616, -9.156633255468991],
                [38.706522780386976, -9.155388710577911],
                [38.70665673779749, -9.154294369380581],
                [38.7065897591236, -9.153285858865395],
                [38.706522780386976, -9.151633618234131],
                [38.70657301444531, -9.150946972776984],
                [38.70653952507702, -9.14959513953322],
                [38.70653952507702, -9.147942898901958],
                [38.7064558015876, -9.146912930716237],
                [38.7064055674469, -9.145174859402829]
            ]

            async function autocarroTempoReal() {
                for (let coordenada of coordenadas) {
                    const marcador = L.marker(coordenada, {
                        icon: L.mapquest.icons.marker({
                            primaryColor: '#22407F',
                            secondaryColor: '#3B5998',
                            shadow: true,
                            size: 'md',
                            symbol: id
                        }),
                        draggable: false
                    }).bindPopup(id).addTo(mapa);
                    await sleep(3000)
                    mapa.removeLayer(marcador)
                }
                alerta()
            }

            autocarroTempoReal()

            async function alerta() {
                Swal.fire(
                    'Informação sobre o autocarro',
                    'O autocarro número <b>612</b> chegou à paragem: <b>Cais do Sodré</b>',
                    'success'
                )
            }
        })
