doctype html
html(lang="en")
    include includes/head
    body
        include includes/header
        .container-fluid
          .row
            .col-md-4
            .col-md-4
              form.border.border-light.p-5
                p.h4.mb-4.text-center Contacte-nos
                input#defaultContactFormName.form-control.mb-4(type='text' placeholder='Nome', required="true")
                input#defaultContactFormEmail.form-control.mb-4(type='email' placeholder='E-mail', required="true")
                label(for='defaultSelect')
                  b Assunto
                br
                select#defaultSelect.tipo-pesquisa(style="width: 100%;")
                  option(value='1' selected='') Feedback
                  option(value='2') Denunciar um bug
                  option(value='3') Sugerir novas funcionalidades
                  option(value='4') Outros
                br
                br
                textarea#exampleFormControlTextarea2.form-control.rounded-0(rows='3' placeholder='Mensagem', required="true")
                .custom-control.custom-checkbox.mb-4
                  input#defaultContactFormCopy.custom-control-input(type='checkbox')
                  label.custom-control-label(for='defaultContactFormCopy')
                    b &nbsp;Enviar uma cópia para o meu email
                button#enviar.btn.btn-success.btn-block(type='submit') Enviar
            .col-md-4
        br
        br
        include includes/footer
    script.
        $(document).ready(function () {
          $('.tipo-pesquisa').select2();
          const enviar = document.querySelector('form');
            enviar.addEventListener('submit', event => {
              event.preventDefault();
              Swal.fire(
              'Registado!',
              'O seu contacto foi registado com sucesso. Iremos responder com a maior brevidade possível. Muito obrigado!',
              'success'
              )
            });
        });
