doctype html
html(lang="en")
    include includes/head
    body
        include includes/header
        .mt-3.mb-3.container
            div#estatisticasPassageiros(style="max-width: 740px;height: 400px;margin: 0px auto")
        .mt-3.mb-3.container
            div#estatisticasVelocidadeMedia(style="max-width: 740px;height: 400px;margin: 0px auto")
        include includes/footer
    script.
        $(document).ready(function () {
            JSC.chart('estatisticasPassageiros', {
                type: 'line',
                legend_visible: false,
                xAxis: {
                    defaultCultureName: 'pt-PT',
                    crosshair_enabled: true,
                    scale: {type: 'time'}
                },
                yAxis: {
                    defaultCultureName: 'pt-PT',
                    orientation: 'opposite',
                    formatString: 'n'
                },
                defaultSeries: {
                    firstPoint_label_text: '<b>%seriesName</b>',
                    defaultPoint_marker: {
                        type: 'circle',
                        size: 8,
                        fill: 'white',
                        outline: {width: 2, color: 'currentColor'}
                    }
                },
                title_label_text: '<b>Total de Passageiros (Últimos 6 Meses)</b>',
                series: [
                    {
                        name: 'Autocarro 612',
                        points: [
                            ['1/1/2021', 8012],
                            ['2/1/2021', 7123],
                            ['3/1/2021', 3212],
                            ['4/1/2021', 4123],
                            ['5/1/2021', 6021],
                            ['6/1/2021', 6321]
                        ]
                    },
                    {
                        name: 'Autocarro 7',
                        points: [
                            ['1/1/2021', 5123],
                            ['2/1/2021', 4123],
                            ['3/1/2021', 1232],
                            ['4/1/2021', 2331],
                            ['5/1/2021', 4221],
                            ['6/1/2021', 5561]
                        ]
                    },
                    {
                        name: 'Autocarro 8',
                        points: [
                            ['1/1/2021', 10212],
                            ['2/1/2021', 11232],
                            ['3/1/2021', 5123],
                            ['4/1/2021', 6123],
                            ['5/1/2021', 9123],
                            ['6/1/2021', 10123]
                        ]
                    },
                    {
                        name: 'Autocarro 16',
                        points: [
                            ['1/1/2021', 3012],
                            ['2/1/2021', 2900],
                            ['3/1/2021', 1231],
                            ['4/1/2021', 1501],
                            ['5/1/2021', 2545],
                            ['6/1/2021', 2901]
                        ]
                    }
                ]
            })

                JSC.chart('estatisticasVelocidadeMedia', {
                    type: 'line',
                    legend_visible: true,
                    xAxis: {
                        defaultCultureName: 'pt-PT',
                        crosshair_enabled: true,
                        scale: {type: 'time'}
                    },
                    yAxis: {
                        defaultCultureName: 'pt-PT',
                        orientation: 'opposite',
                        formatString: 'n'
                    },
                    defaultSeries: {
                        defaultPoint_marker: {
                            type: 'circle',
                            size: 8,
                            fill: 'white',
                            outline: {width: 2, color: 'currentColor'}
                        }
                    },
                    title_label_text: '<b>Velocidade Média (Km/h - Últimos 6 Meses)</b>',
                    series: [
                        {
                            name: 'Autocarro 612',
                            points: [
                                ['1/1/2021', 14.4],
                                ['2/1/2021', 15.1],
                                ['3/1/2021', 17.1],
                                ['4/1/2021', 16.1],
                                ['5/1/2021', 15.2],
                                ['6/1/2021', 14.1]
                            ]
                        },
                        {
                            name: 'Autocarro 7',
                            points: [
                                ['1/1/2021', 15],
                                ['2/1/2021', 15.1],
                                ['3/1/2021', 18.1],
                                ['4/1/2021', 17.5],
                                ['5/1/2021', 16.1],
                                ['6/1/2021', 14.5]
                            ]
                        },
                        {
                            name: 'Autocarro 8',
                            points: [
                                ['1/1/2021', 13.8],
                                ['2/1/2021', 13.5],
                                ['3/1/2021', 15.1],
                                ['4/1/2021', 14.5],
                                ['5/1/2021', 14],
                                ['6/1/2021', 13.9]
                            ]
                        },
                        {
                            name: 'Autocarro 16',
                            points: [
                                ['1/1/2021', 13.6],
                                ['2/1/2021', 14.9],
                                ['3/1/2021', 14.2],
                                ['4/1/2021', 14.8],
                                ['5/1/2021', 14.5],
                                ['6/1/2021', 13.5]
                            ]
                        }
                    ]
                });
        })