doctype html
html(lang="en")
    include includes/head
    body
        include includes/header
        .mt-3.mb-3.container
            .form(id='pesquisa')
                .input-group
                    select.tipo-pesquisa(name='tipo')
                        option(value='RTDEST') Rota - Destino
                        option(value='RTPARA') Rota - Paragem
                        option(value='AUTOCARRO') Autocarro
                        option(value='PARAGEM') Paragem
                    input.form-control.rounded(type='search' placeholder='Pesquisar' aria-label='Search' aria-describedby='search-addon')
                    button.btn.btn-success(type='button' id='pesquisar') Pesquisar
            div#container-tabela(style='display: none;')
                br
                br
                div#tabela
        include includes/footer
    script.
        $(document).ready(function () {
            setTipoPesquisa('#{tipo}', '.tipo-pesquisa')
            $('.tipo-pesquisa').select2();
            // A select2 não mete a altura certa.. Para ver mais tarde
            $(".select2-container").css('height', '35px');
            $(".select2-selection").css('height', '35px');
            $("#pesquisar").click(function () {
                let escolha = $('.tipo-pesquisa').find(":selected").val();
                if (escolha === 'PARAGEM') {
                    var tabledata = [
                        {
                            nome: "Paragem B - Sul",
                            autocarros: "612",
                            estado: 3,
                            update: "15 Mar, 8:56 (2021)",
                            favorito: "<i class=\"far fa-star\"></i>"
                        },
                        {
                            nome: "Paragem B - Norte",
                            autocarros: "612",
                            estado: 5,
                            update: "12 Feb, 7:12 (2021)",
                            favorito: "<i class=\"far fa-star\"></i>"
                        }
                    ];
                    let table = new Tabulator("#tabela", {
                        data: tabledata,           //load row data from array
                        layout: "fitColumns",      //fit columns to width of table
                        responsiveLayout: "hide",  //hide columns that dont fit on the table
                        tooltips: true,            //show tool tips on cells
                        addRowPos: "top",          //when adding a new row, add it to the top of the table
                        history: true,             //allow undo and redo actions on the table
                        pagination: "local",       //paginate the data
                        paginationSize: 7,         //allow 7 rows per page of data
                        movableColumns: true,      //allow column order to be changed
                        resizableRows: true,       //allow row order to be changed
                        initialSort: [             //set the initial sort order of the data
                            {column: "nome", dir: "asc"},
                        ],
                        columns: [                 //define the table columns
                            {title: "Nome", field: "nome"},
                            {title: "Autocarros", field: "autocarros", formatter: "link",
                                formatterParams: {
                                    labelField: "autocarros",
                                    urlPrefix: "/autocarro/",
                                    urlField: "autocarros"
                                }
                            },
                            {
                                title: "Estado da Paragem",
                                field: "estado",
                                formatter: "star",
                                hozAlign: "center",
                                width: 100
                            },
                            {title: "Última Atualização", field: "update"},
                            {
                                title: "Favorito", field: "favorito",
                                formatter: "html", align: "center", cellClick: function (e, cell) {
                                    if (cell.getValue() === "<i class=\"far fa-star\"></i>") {
                                        cell.setValue('<i class="fas fa-star" style="color:gold"></i>')
                                        let notyf = new Notyf();
                                        notyf.success({
                                            message: 'Esta paragem foi adicionada aos seus favoritos!',
                                            dismissible: true,
                                            duration: 2000,
                                            position: {
                                                x: 'center',
                                                y: 'top',
                                            }
                                        });
                                    } else {
                                        cell.setValue('<i class="far fa-star"></i>')
                                        let notyf = new Notyf();
                                        notyf.success({
                                            message: 'Esta paragem foi removida dos seus favoritos!',
                                            dismissible: true,
                                            duration: 2000,
                                            position: {
                                                x: 'center',
                                                y: 'top',
                                            }
                                        });
                                    }

                                }
                            }
                        ],
                    });
                    $("#container-tabela").show()
                } else if (escolha === 'AUTOCARRO') {
                    var tabledata = [
                        {
                            id: 202,
                            inicio: "Cais do Sodré",
                            fim: "Bairro Padre Cruz",
                            proximaParagem: 'Rato',
                            tempoEstimado: '10 minutos',
                            favorito: "<i class=\"far fa-star\"></i>"
                        }
                    ];
                    let table = new Tabulator("#tabela", {
                        data: tabledata,           //load row data from array
                        layout: "fitColumns",      //fit columns to width of table
                        responsiveLayout: "hide",  //hide columns that dont fit on the table
                        tooltips: true,            //show tool tips on cells
                        addRowPos: "top",          //when adding a new row, add it to the top of the table
                        history: true,             //allow undo and redo actions on the table
                        pagination: "local",       //paginate the data
                        paginationSize: 7,         //allow 7 rows per page of data
                        movableColumns: true,      //allow column order to be changed
                        resizableRows: true,       //allow row order to be changed
                        initialSort: [             //set the initial sort order of the data
                            {column: "nome", dir: "asc"},
                        ],
                        columns: [
                            {
                                title: "Número", field: "id", formatter: "link",
                                formatterParams: {
                                    labelField: "id",
                                    urlPrefix: "/autocarro/",
                                    urlField: "id"
                                }
                            },
                            {title: "Início", field: "inicio"},
                            {title: "Fim", field: "fim"},
                            {title: "Próxima Paragem", field: "proximaParagem"},
                            {title: "Chegada Prevista", field: "tempoEstimado"},
                            {
                                title: "Favorito", field: "favorito",
                                formatter: "html", align: "center", cellClick: function (e, cell) {
                                    if (cell.getValue() === "<i class=\"far fa-star\"></i>") {
                                        cell.setValue('<i class="fas fa-star" style="color:gold"></i>')
                                        let notyf = new Notyf();
                                        notyf.success({
                                            message: 'Este autocarro foi adicionado aos seus favoritos!',
                                            dismissible: true,
                                            duration: 2000,
                                            position: {
                                                x: 'center',
                                                y: 'top',
                                            }
                                        });
                                    } else {
                                        cell.setValue('<i class="far fa-star"></i>')
                                        let notyf = new Notyf();
                                        notyf.success({
                                            message: 'Este autocarro foi removido dos seus favoritos!',
                                            dismissible: true,
                                            duration: 2000,
                                            position: {
                                                x: 'center',
                                                y: 'top',
                                            }
                                        });
                                    }
                                }
                            }
                        ],
                    });
                    $("#container-tabela").show()
                } else if (escolha === 'RTDEST') {
                    var tabledata = [
                        {
                            id: 7602,
                            nome: 'Aeroporto',
                            autocarro: 722,
                            inicio: "Praça de Londres",
                            fim: "Portela",
                            proximaParagem: 'Quinta de Santo António',
                            tempoEstimado: 2,
                            favorito: "<i class=\"far fa-star\"></i>"
                        },
                        {
                            id: 7602,
                            nome: 'Aeroporto',
                            autocarro: 783,
                            inicio: "Amoreiras",
                            fim: "Portela/Pr. Velho",
                            proximaParagem: 'Marquês de Pombal',
                            tempoEstimado: 12,
                            favorito: "<i class=\"far fa-star\"></i>"
                        },
                        {
                            id: 7602,
                            nome: 'Aeroporto',
                            autocarro: 722,
                            inicio: "Praça de Londres",
                            fim: "Portela",
                            proximaParagem: 'Praça de Londres',
                            tempoEstimado: 26,
                            favorito: "<i class=\"far fa-star\"></i>"
                        }
                    ];
                    let table = new Tabulator("#tabela", {
                        data: tabledata,           //load row data from array
                        layout: "fitColumns",      //fit columns to width of table
                        responsiveLayout: "hide",  //hide columns that dont fit on the table
                        tooltips: true,            //show tool tips on cells
                        addRowPos: "top",          //when adding a new row, add it to the top of the table
                        history: true,             //allow undo and redo actions on the table
                        pagination: "local",       //paginate the data
                        paginationSize: 7,         //allow 7 rows per page of data
                        movableColumns: true,      //allow column order to be changed
                        resizableRows: true,       //allow row order to be changed
                        initialSort: [             //set the initial sort order of the data
                            {column: "nome", dir: "asc"},
                        ],
                        columns: [
                            {title: "Nome", field: "nome"},
                            {
                                title: "Autocarro", field: "autocarro", formatter: "link",
                                formatterParams: {
                                    labelField: "autocarro",
                                    urlPrefix: "/autocarro/",
                                    urlField: "autocarro"
                                }
                            },
                            {title: "Início", field: "inicio"},
                            {title: "Fim", field: "fim"},
                            {title: "Próxima Paragem", field: "proximaParagem"},
                            {title: "Chegada Prevista (minutos)", field: "tempoEstimado"},
                            {
                                title: "Favorito", field: "favorito",
                                formatter: "html", align: "center", cellClick: function (e, cell) {
                                    if (cell.getValue() === "<i class=\"far fa-star\"></i>") {
                                        cell.setValue('<i class="fas fa-star" style="color:gold"></i>')
                                        let notyf = new Notyf();
                                        notyf.success({
                                            message: 'Esta rota foi adicionada aos seus favoritos!',
                                            dismissible: true,
                                            duration: 2000,
                                            position: {
                                                x: 'center',
                                                y: 'top',
                                            }
                                        });
                                    } else {
                                        cell.setValue('<i class="far fa-star"></i>')
                                        let notyf = new Notyf();
                                        notyf.success({
                                            message: 'Esta rota foi removida dos seus favoritos!',
                                            dismissible: true,
                                            duration: 2000,
                                            position: {
                                                x: 'center',
                                                y: 'top',
                                            }
                                        });
                                    }

                                }
                            }
                        ],
                    });
                    $("#container-tabela").show()
                } else if (escolha === 'RTPARA') {
                    var tabledata = [
                        {
                            id: 410,
                            nome: '410 - Alameda D. A. Henriques',
                            autocarro: 717,
                            inicio: "Pç. Chile",
                            fim: "Fetais",
                            proximaParagem: 'Estádio 1º de Maio',
                            tempoEstimado: 6,
                            favorito: "<i class=\"far fa-star\"></i>"
                        },
                        {
                            id: 410,
                            nome: '410 - Alameda D. A. Henriques',
                            autocarro: 717,
                            inicio: "Pç. Chile",
                            fim: "Fetais",
                            proximaParagem: 'Av. Estados Unidos América',
                            tempoEstimado: 7,
                            favorito: "<i class=\"far fa-star\"></i>"
                        },
                        {
                            id: 410,
                            nome: '410 - Alameda D. A. Henriques',
                            autocarro: 708,
                            inicio: "Martim Moniz",
                            fim: "Sacavém",
                            proximaParagem: 'Qta. Narigão',
                            tempoEstimado: 10,
                            favorito: "<i class=\"far fa-star\"></i>"
                        },
                        {
                            id: 402,
                            nome: '402 - Alameda D. A. Henriques ',
                            autocarro: 797,
                            inicio: "Alameda",
                            fim: "Sapadores",
                            proximaParagem: 'Sapadores',
                            tempoEstimado: 5,
                            favorito: "<i class=\"far fa-star\"></i>"
                        },
                        {
                            id: 402,
                            nome: '402 - Alameda D. A. Henriques ',
                            autocarro: 735,
                            inicio: "Cais do Sodré",
                            fim: "Hospital de Santa Maria",
                            proximaParagem: 'Cais do Sodré',
                            tempoEstimado: 8,
                            favorito: "<i class=\"far fa-star\"></i>"
                        },
                        {
                            id: 402,
                            nome: '402 - Alameda D. A. Henriques ',
                            autocarro: 718,
                            inicio: "ISEL",
                            fim: "Est. Roma-Areeiro",
                            proximaParagem: 'ISEL',
                            tempoEstimado: 23,
                            favorito: "<i class=\"far fa-star\"></i>"
                        }
                    ];
                    let table = new Tabulator("#tabela", {
                        data: tabledata,           //load row data from array
                        layout: "fitColumns",      //fit columns to width of table
                        responsiveLayout: "hide",  //hide columns that dont fit on the table
                        tooltips: true,            //show tool tips on cells
                        addRowPos: "top",          //when adding a new row, add it to the top of the table
                        history: true,             //allow undo and redo actions on the table
                        pagination: "local",       //paginate the data
                        paginationSize: 7,         //allow 7 rows per page of data
                        movableColumns: true,      //allow column order to be changed
                        resizableRows: true,       //allow row order to be changed
                        initialSort: [             //set the initial sort order of the data
                            {column: "nome", dir: "asc"},
                        ],
                        columns: [
                            {title: "Nome", field: "nome"},
                            {
                                title: "Autocarro", field: "autocarro", formatter: "link",
                                formatterParams: {
                                    labelField: "autocarro",
                                    urlPrefix: "/autocarro/",
                                    urlField: "autocarro"
                                }
                            },
                            {title: "Início", field: "inicio"},
                            {title: "Fim", field: "fim"},
                            {title: "Próxima Paragem", field: "proximaParagem"},
                            {title: "Chegada Prevista (minutos)", field: "tempoEstimado"},
                            {
                                title: "Favorito", field: "favorito",
                                formatter: "html", align: "center", cellClick: function (e, cell) {
                                    if (cell.getValue() === "<i class=\"far fa-star\"></i>") {
                                        cell.setValue('<i class="fas fa-star" style="color:gold"></i>')
                                        let notyf = new Notyf();
                                        notyf.success({
                                            message: 'Esta rota foi adicionada aos seus favoritos!',
                                            dismissible: true,
                                            duration: 2000,
                                            position: {
                                                x: 'center',
                                                y: 'top',
                                            }
                                        });
                                    } else {
                                        cell.setValue('<i class="far fa-star"></i>')
                                        let notyf = new Notyf();
                                        notyf.success({
                                            message: 'Esta rota foi removida dos seus favoritos!',
                                            dismissible: true,
                                            duration: 2000,
                                            position: {
                                                x: 'center',
                                                y: 'top',
                                            }
                                        });
                                    }

                                }
                            }
                        ],
                    });
                    $("#container-tabela").show()
                }
            });
        });
