doctype html
html(lang="en")
    include includes/head
    body
        include includes/header
        .mt-3.mb-3.container
            .form(id='pesquisa')
                .input-group
                    select.tipo-pesquisa(name='tipo')
                        option(value='RTDEST') Rota - Destino
                        option(value='RTPARA') Rota - Paragem
                        option(value='AUTOCARRO') Autocarro
                        option(value='PARAGEM') Paragem
                    input.form-control.rounded(type='search' placeholder='Pesquisar' aria-label='Search' aria-describedby='search-addon')
                    button.btn.btn-success(type='button' id='pesquisar') Pesquisar
            div#container-tabela(style='display: none;')
                br
                br
                div#tabela
        include includes/footer
    script.
        $(document).ready(function () {
            setTipoPesquisa('#{tipo}', '.tipo-pesquisa')
            $('.tipo-pesquisa').select2();
            // A select2 não mete a altura certa.. Para ver mais tarde
            $(".select2-container").css('height', '35px');
            $(".select2-selection").css('height', '35px');
            $("#pesquisar").click(function () {
                let escolha = $('.tipo-pesquisa').find(":selected").val();
                if (escolha === 'PARAGEM') {
                    var tabledata = [
                        {
                            nome: "Paragem B - Sul",
                            autocarros: "612",
                            estado: 3,
                            update: "15 Mar, 8:56 (2021)"
                        },
                        {
                            nome: "Paragem B - Norte",
                            autocarros: "612",
                            estado: 5,
                            update: "12 Feb, 7:12 (2021)"
                        }
                    ];
                    let table = new Tabulator("#tabela", {
                        data: tabledata,           //load row data from array
                        layout: "fitColumns",      //fit columns to width of table
                        responsiveLayout: "hide",  //hide columns that dont fit on the table
                        tooltips: true,            //show tool tips on cells
                        addRowPos: "top",          //when adding a new row, add it to the top of the table
                        history: true,             //allow undo and redo actions on the table
                        pagination: "local",       //paginate the data
                        paginationSize: 7,         //allow 7 rows per page of data
                        movableColumns: true,      //allow column order to be changed
                        resizableRows: true,       //allow row order to be changed
                        initialSort: [             //set the initial sort order of the data
                            {column: "nome", dir: "asc"},
                        ],
                        columns: [                 //define the table columns
                            {title: "Nome", field: "nome"},
                            {title: "Autocarros", field: "autocarros", formatter: "link",
                                formatterParams: {
                                    labelField: "autocarros",
                                    urlPrefix: "/autocarro/",
                                    urlField: "autocarros"
                                }
                            },
                            {
                                title: "Estado da Paragem",
                                field: "estado",
                                formatter: "star",
                                hozAlign: "center",
                                width: 100
                            },
                            {title: "Última Atualização", field: "update"}
                        ],
                    });
                    $("#container-tabela").show()
                }
            });
        });
