doctype html
html(lang="en")
    include includes/head
    body
        include includes/header
        .mt-3.mb-3.container
            .bg-light
                .container.py-5
                    .row.h-100.align-items-center.py-5
                        .col-lg-6
                            h1.display-4 Sobre a
                                b &nbsp;Bus4You
                            p.lead.text-muted.mb-0 Lorem ipsum pellentesque maecenas ad commodo habitant a, vivamus turpis euismod nunc convallis cursus ut, class tellus ligula at quam feugiat
                        .col-lg-6.d-none.d-lg-block
                            img.img-fluid(src='../css/images/illus_kftyh4.png' alt='')
            .bg-white.py-5
                .container.py-5
                    .row.align-items-center.mb-5
                        .col-lg-6.order-2.order-lg-1
                            i.fa.fa-bar-chart.fa-2x.mb-3.text-primary
                            h2.font-weight-light Lorem ipsum dolor sit amet
                            p.font-italic.text-muted.mb-4
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            a.btn.btn-light.px-5.rounded-pill.shadow-sm(href='#') Saber mais
                        .col-lg-5.px-5.mx-auto.order-1.order-lg-2
                            img.img-fluid.mb-4.mb-lg-0(src='../css/images/img-1_e25nvh.jpg' alt='')
                    .row.align-items-center
                        .col-lg-5.px-5.mx-auto
                            img.img-fluid.mb-4.mb-lg-0(src='../css/images/img-2_vdgqgn.jpg' alt='')
                        .col-lg-6
                            i.fa.fa-leaf.fa-2x.mb-3.text-primary
                            h2.font-weight-light Lorem ipsum dolor sit amet
                            p.font-italic.text-muted.mb-4
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            a.btn.btn-light.px-5.rounded-pill.shadow-sm(href='#') Saber mais
            .bg-light.py-5
                .container.py-5
                    .row.mb-4
                        .col-lg-5
                            h2.display-4.font-weight-light Conheça a equipa
                            p.font-italic.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    .row.text-center
                        // Team item
                        .col-xl-3.col-sm-6.mb-5
                            .bg-white.rounded.shadow-sm.py-5.px-4
                                img.img-fluid.rounded-circle.mb-3.img-thumbnail.shadow-sm(src='../css/images/avatar.png' alt='' width='100')
                                h5.mb-0 André Santo
                                span.small.text-uppercase.text-muted CEO - Founder
                                ul.social.mb-0.list-inline.mt-3
                                    li.list-inline-item
                                        a.social-link(href='#')
                                            i.fab.fa-facebook-f
                                    li.list-inline-item
                                        a.social-link(href='#')
                                            i.fab.fa-twitter
                                    li.list-inline-item
                                        a.social-link(href='#')
                                            i.fab.fa-instagram
                                    li.list-inline-item
                                        a.social-link(href='#')
                                            i.fab.fa-linkedin
                        .col-xl-3.col-sm-6.mb-5
                            .bg-white.rounded.shadow-sm.py-5.px-4
                                img.img-fluid.rounded-circle.mb-3.img-thumbnail.shadow-sm(src='../css/images/avatar.png' alt='' width='100')
                                h5.mb-0 Valério Leonel
                                span.small.text-uppercase.text-muted CEO - Founder
                                ul.social.mb-0.list-inline.mt-3
                                    li.list-inline-item
                                        a.social-link(href='#')
                                            i.fab.fa-facebook-f
                                    li.list-inline-item
                                        a.social-link(href='#')
                                            i.fab.fa-twitter
                                    li.list-inline-item
                                        a.social-link(href='#')
                                            i.fab.fa-instagram
                                    li.list-inline-item
                                        a.social-link(href='#')
                                            i.fab.fa-linkedin
        include includes/footer
    script.
        $(document).ready(function () {

        })